<div>

<%= link_to 'Applicants', applicants_path %> &gt;
<%= link_to Applicant.find(params[:applicant_id]).full_name, {:controller=>"applicants",:action=>"show",:id=>params[:applicant_id]}%>
&gt; Donation Grant
&gt; New

      </div>
<br/>

<h1 class="red">New Donation Grant</h1>

<%= render :partial=>'form' %>

<%= link_to 'Back', "/applicants/"+params[:applicant_id] %>
