
<% if !@loan_transaction.debit.nil? %>
<h1>Editing loan detail</h1>
  <%= render 'loan_form' %>

<%else%>
<h1>Editing returns detail  </h1>
  <%= render 'return_form' %>

<%end%>

<%= link_to 'Delete', @loan_transaction, :confirm => 'Are you sure?', :method => :delete %>
|
<%= link_to 'Back', "/applicants/#{@loan_transaction.applicant_id.to_s}" %>
