<div><span>Admin List</span> &nbsp;|&nbsp;
<span><%= link_to 'New Admin', new_admin_user_path %></span>
</div>

<div class="content_box_1">
<h1>Listing Admin Users</h1>

<table>
  <tr>
    <th style="width:200px"></th>
    <th></th>
  </tr>

<% @admin_users.each do |admin_user| %>
  <tr>
    <td><%= admin_user.login %></td>
    <td>
<%= link_to 'Edit', edit_admin_user_path(admin_user) %>
    </td>
  </tr>
<% end %>
</table>

<br />


</div>