<div><span><%= link_to 'Admin List', admin_users_path %></span> &nbsp;|&nbsp;
<span>New Admin</span>
</div>
<br/>
<h1 class="red">Add New Admin User</h1>
<div class="content_box_1">



<%= render 'form' %>
<%= link_to 'Back', admin_users_path %>

</div>